<h1>Login!</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="password">User Name:</label>      
                <input type="text" name="username" class="form-control" [(ngModel)]="username">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="password">Password:</label>      
                <input type="password" name="password" class="form-control" [(ngModel)]="password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-primary" (click)="handleJWTAuthLogin()">Login</button>   
        </div>
    </div>
</div>
