<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="https://www.in28miutes.com" class="navbar-brand">in28minutes</a>
      </div>
      <div class="navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a *ngIf="this.hardcodedAuthenticationService.isUserLoggedIn()" routerLinkActive="active" routerLink="/welcome/in28minutes">Home</a></li>
              <li><a *ngIf="this.hardcodedAuthenticationService.isUserLoggedIn()" routerLinkActive="active" routerLink="/todos">Todos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li style="cursor: pointer;"><a *ngIf="!this.hardcodedAuthenticationService.isUserLoggedIn()" routerLinkActive="active" routerLink="/login">Login</a></li>
              <li style="cursor: pointer;"><a *ngIf="this.hardcodedAuthenticationService.isUserLoggedIn()" routerLinkActive="active" routerLink="/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
